@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --hero:#DFDFD7;
    --support:#BCC1B3;
    --highlight:#D3E3C6;
    --actionText:#A9F092;
    --actionSurface:#174712;
    --supportSurface:#354130;
    --surfaceSecondary:#1F241E;
    --surfacePrimary:#191A17;
}


* {
    margin:0px;
    padding:0px;
}

h1,h4 {
    color:var(--hero);
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;    
}

h1 {
    font-size: 5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.025rem;
    color:var(--hero);
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--surfacePrimary);
}

.headerRow {
    background-color: var(--surfacePrimary);
    padding:32px;
    display:flex;
    align-items: flex-start;
    align-self: stretch;
    color:var(--hero);
}

.wrapperRow {
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
}

.sideBar {
    display:flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    align-self: stretch;
    width: 330px;
    height: 100vh;
    background-color: var(--surfaceSecondary);
}

.sideBarCtaCol {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.primaryButton {
    padding:12px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--actionSurface);
    color:var(--actionText);
    font-weight: bold;
    font-size: 1.10rem;
    transition: all .2s ease-in-out;
}

.primaryButton:hover {
    transform: scale(1.1);
    background-color: #D3E3C6;
    color:var(--actionSurface);
}

.gridContainer {
    display:grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows: repeat(auto-fit,200px);
    gap:16px;
    width:100%;
    padding:32px;
}

.card {
    display:flex;
    flex-direction: column;
    gap:12px;
    padding:16px;
    background-color: var(--surfaceSecondary);
    border-radius: 12px;
}

.textCol {
    display:flex;
    flex-direction: column;
    gap:4px;
}

.rowContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color:var(--support);
}

.material-symbols-outlined:hover {
    cursor:pointer;
}

label[for^="hasRead"] {
    display:flex;
    gap:8px;
    justify-content: center;
    align-items: center;
    color:var(--actionText);
    font-weight: bold;
}

input[type="checkbox"] {
    outline: 2px solid var(--actionText);
    background-color: var(--highlight);
    border-radius: 50%;
    width:24px;
    height:24px;
}

input[type="checkbox"]:checked {
    background-color: var(--actionSurface);
    accent-color: var(--actionSurface);
}

.supportText {
    color:var(--support);
    font-size: .90rem;
}

dialog {
    margin:auto;
    padding:16px;
    border-radius: 12px;
    border-style: none;
    color:var(--hero);
    font-weight: bold;
    font-size: 1.05rem;
    background-color: var(--supportSurface);
    
}

form, label {
    display:flex;
    flex-direction: column;
    gap:8px;
}

form {
    gap:32px;
}

label[for="yes"], label[for="no"] {
    display:flex;
    flex-direction: row;
    padding:12px;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="number"] {
    padding:8px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--surfaceSecondary);
    color:var(--actionText);
    font-weight: bold;
}

button[data-close-modal], button[type="submit"]{
    padding:12px;
    font-size: 1.05rem;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
}

button[data-close-modal] {
    background-color: transparent;
    border: 2px solid #D3E3C6;
    color:var(--highlight);
}

button[data-close-modal]:hover {
    background-color: var(--surfaceSecondary);
}

button[type="submit"] {
    background-color: var(--actionSurface);
    color:var(--actionText);
}

button[type="submit"]:hover {
    background: var(--actionText);
    color:var(--actionSurface);
}
